.card {
  /* position: relative; */
  width: 50vw;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  /* align-self: center; */
  /* justify-self: center; */
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  /* margin-top: 50px; */
  margin: 1rem;
  transition: all 1s;
}

@media screen and (max-width: 600px) {
  .card {
    width: 90vw;
  }
}

.city {
  font-weight: 900;
  font-size: 3.7rem;
  display: inline-flex;

  letter-spacing: 1.2px;
  color: white;
  margin: 0rem 0rem;
}

.h2country {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-size: medium;

}

.weather {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
  margin: 0.1rem;
}

.WeatherIcon {
  margin: 0;
  width: 170px;

}

.temp {
  font-size: 3em;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: white;
  margin: 0.1rem;
}


.minHeading {
  font-size: 1em;
  font-weight: 600;
  color: white;
}

.minTemp {
  font-size: 1.8em;
  font-weight: 700;
  color: rgb(197, 197, 197);
}

.WeatherDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin: 1em; */
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .WeatherDetails {
    /* flex-wrap: wrap; */
    align-items: start;
  }

  .minDIv, .maxDiv, .humidityDiv, .windSpeedDiv, .feelsLike {
    width: max-content;
  }
}

.minDIv, .maxDiv, .humidityDiv, .windSpeedDiv, .feelsLike {
  height: 8em;
  width: 6em;
  /* background-color: azure; */
  border-radius: 1em;
  text-align: center;
  margin: 0.10em;
  padding: 0.1em;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.windSpeedSup {
  font-size: 0.4em;
  color: rgb(197, 197, 197);
}